
body{
    background-color:white;
}


.div-titulo{
    background-color: aqua;
    border-radius: 56%;
    width: 1300px;
    height: 90px;
    padding: 20px;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

.login{
    color: black;
    font-size: 30px;
}

.email{
    color: green;
    font-size: 20px;
}

#esqueceu{
    color:rgb(226, 43, 43);
    font-size: 20px;
}

a:hover{
    color: red;
    font-size: 40px;
}

.foto1 {
    margin-left: auto ;
    margin-right: auto;
    width: 30em;
}   



